In [1]:
import pandas as pd

In [2]:
pd.Series?

In [3]:
animals = ['tiger', 'bear', 'moose']

In [4]:
animals

['tiger', 'bear', 'moose']

In [5]:
pd.Series(animals)

0    tiger
1     bear
2    moose
dtype: object

In [6]:
numbers = [1, 2, 3, 4]

In [7]:
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
animals = ['Tiger', 'Bear', None]

In [9]:
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [10]:
numbers = [1, 4, None]

In [11]:
pd.Series(numbers)

0    1.0
1    4.0
2    NaN
dtype: float64

In [12]:
pd.nan == False

AttributeError: module 'pandas' has no attribute 'nan'

In [ ]:
import numpy as np

In [13]:
np.nan == None

NameError: name 'np' is not defined

In [14]:
np.nan == np.nan

NameError: name 'np' is not defined

In [15]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Taekwondo': 'South Koria'}

In [16]:
a = pd.Series(sports)

In [17]:
a

Archery           Bhutan
Golf            Scotland
Taekwondo    South Koria
dtype: object

In [20]:
a.index

Index(['Archery', 'Golf', 'Taekwondo'], dtype='object')

In [21]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index = ['India', 'America', 'Canada'])

In [22]:
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [23]:
t = pd.Series(['Tiger', 'Bear', 'Moose'], index = ['Bangladesh', None, None])

In [24]:
t

Bangladesh    Tiger
NaN            Bear
NaN           Moose
dtype: object

In [25]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])

In [26]:
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [27]:
total = 0
for i in s:
    total += i
print(total)

324.0

In [28]:
import numpy as np

In [29]:
total = np.sum(s)

In [30]:
total

324.0

In [31]:
s = pd.Series(np.random.randint(0, 1000, 10000))

In [32]:
s.head()

0    305
1     16
2    136
3    498
4    720
dtype: int64

In [33]:
len(s)

10000

In [34]:
%%timeit -n 100
summary = 0
for item in s:
    summary += item

100 loops, best of 3: 1.22 ms per loop

In [35]:
%%timeit -n 100
summary = np.sum(s)

100 loops, best of 3: 29.4 µs per loop

In [36]:
%%timeit -n 10
s = pd.Series(np.random.randint(0, 1000, 10000))
s += 2

10 loops, best of 3: 499 µs per loop

In [37]:
a = pd.Series([1, 2, 3])
a.loc['Animal'] = 'Bears'

In [38]:
a

0             1
1             2
2             3
Animal    Bears
dtype: object

In [39]:
original_sports = pd.Series({'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Taekwondo': 'South Koria'})

In [40]:
cricket_loving_countries = pd.Series(['Australia', 
                                      'Barbadose', 
                                      'Pakistan', 
                                      'England'], 
                                     index = ['Cricket', 
                                              'Cricket', 
                                              'Cricket', 
                                              'Cricket'])

In [41]:
all_countries = original_sports.append(cricket_loving_countries)

In [42]:
original_sports

Archery           Bhutan
Golf            Scotland
Taekwondo    South Koria
dtype: object

In [43]:
cricket_loving_countries

Cricket    Australia
Cricket    Barbadose
Cricket     Pakistan
Cricket      England
dtype: object

In [44]:
all_countries

Archery           Bhutan
Golf            Scotland
Taekwondo    South Koria
Cricket        Australia
Cricket        Barbadose
Cricket         Pakistan
Cricket          England
dtype: object

In [45]:
purchase_1 = pd.Series({'name': 'Chris',
                       'Item Purchased': 'Dog food',
                       'Costs': 22.50})

In [46]:
purchase_2 = pd.Series({'name': 'Kevin',
                       'Item Purchased': 'Kitty Litters',
                       'Costs': 2.5})

In [47]:
purchase_3 = pd.Series({'name': 'Vinod',
                       'Item Purchased': 'Bird Seed',
                       'Costs': 5.0})

In [48]:
df = pd.DataFrame([purchase_1, purchase_2, purchase_3],
                 index = ['Store 1', 'Store 1', 'Store 2'])

In [49]:
df.head()

         Costs Item Purchased   name
Store 1   22.5       Dog food  Chris
Store 1    2.5  Kitty Litters  Kevin
Store 2    5.0      Bird Seed  Vinod

In [50]:
df.loc['Store 2']

Costs                     5
Item Purchased    Bird Seed
name                  Vinod
Name: Store 2, dtype: object

In [51]:
type(df.loc['Store 1'])

pandas.core.frame.DataFrame

In [52]:
df['Item Purchased']

Store 1         Dog food
Store 1    Kitty Litters
Store 2        Bird Seed
Name: Item Purchased, dtype: object

In [53]:
df.loc['Store 1', 'Costs']

Store 1    22.5
Store 1     2.5
Name: Costs, dtype: float64

In [54]:
df.T

                 Store 1        Store 1    Store 2
Costs               22.5            2.5          5
Item Purchased  Dog food  Kitty Litters  Bird Seed
name               Chris          Kevin      Vinod

In [55]:
df.T.loc['Costs']

Store 1    22.5
Store 1     2.5
Store 2       5
Name: Costs, dtype: object

In [56]:
df['Costs']

Store 1    22.5
Store 1     2.5
Store 2     5.0
Name: Costs, dtype: float64

In [57]:
df.loc['Store 1']['Costs']

Store 1    22.5
Store 1     2.5
Name: Costs, dtype: float64

In [58]:
df.loc[:, ['name', 'Costs']]

          name  Costs
Store 1  Chris   22.5
Store 1  Kevin    2.5
Store 2  Vinod    5.0

In [59]:
df['Location'] = None

In [60]:
df

         Costs Item Purchased   name Location
Store 1   22.5       Dog food  Chris     None
Store 1    2.5  Kitty Litters  Kevin     None
Store 2    5.0      Bird Seed  Vinod     None

In [61]:
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [62]:
df.iloc[0]

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [63]:
df['Gold'] > 0

Afghanistan                         False
Algeria                              True
Argentina                            True
Armenia                              True
Australasia                          True
Australia                            True
Austria                              True
Azerbaijan                           True
Bahamas                              True
Bahrain                             False
Barbados                            False
Belarus                              True
Belgium                              True
Bermuda                             False
Bohemia                             False
Botswana                            False
Brazil                               True
British West Indies                 False
Bulgaria                             True
Burundi                              True
Cameroon                             True
Canada                               True
Chile                                True
China                                True
Colombia                             True
Costa Rica                           True
Ivory Coast                         False
Croatia                              True
Cuba                                 True
Cyprus                              False
                                    ...
Spain                                True
Sri Lanka                           False
Sudan                               False
Suriname                             True
Sweden                               True
Switzerland                          True
Syria                                True
Chinese Taipei                       True
Tajikistan                          False
Tanzania                            False
Thailand                             True
Togo                                False
Tonga                               False
Trinidad and Tobago                  True
Tunisia                              True
Turkey                               True
Uganda                               True
Ukraine                              True
United Arab Emirates                 True
United States                        True
Uruguay                              True
Uzbekistan                           True
Venezuela                            True
Vietnam                             False
Virgin Islands                      False
Yugoslavia                           True
Independent Olympic Participants    False
Zambia                              False
Zimbabwe                             True
Mixed team                           True
Name: Gold, dtype: bool

In [64]:
only_gold = df.where(df['Gold'] > 0)

In [65]:
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,ALG
Argentina,23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,ARG
Armenia,5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0,ARM
Australasia,2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,ANZ

In [66]:
only_gold['Gold'].count()

99

In [67]:
df['Gold'].count()

146

In [68]:
only_gold.dropna()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Algeria,12.0,5.0,2.0,8.0,15.0,3.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,8.0,15.0,ALG
Argentina,23.0,18.0,24.0,28.0,70.0,18.0,0.0,0.0,0.0,0.0,41.0,18.0,24.0,28.0,70.0,ARG
Armenia,5.0,1.0,2.0,9.0,12.0,6.0,0.0,0.0,0.0,0.0,11.0,1.0,2.0,9.0,12.0,ARM
Australasia,2.0,3.0,4.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,4.0,5.0,12.0,ANZ
Australia,25.0,139.0,152.0,177.0,468.0,18.0,5.0,3.0,4.0,12.0,43.0,144.0,155.0,181.0,480.0,AUS
Austria,26.0,18.0,33.0,35.0,86.0,22.0,59.0,78.0,81.0,218.0,48.0,77.0,111.0,116.0,304.0,AUT
Azerbaijan,5.0,6.0,5.0,15.0,26.0,5.0,0.0,0.0,0.0,0.0,10.0,6.0,5.0,15.0,26.0,AZE
Bahamas,15.0,5.0,2.0,5.0,12.0,0.0,0.0,0.0,0.0,0.0,15.0,5.0,2.0,5.0,12.0,BAH
Belarus,5.0,12.0,24.0,39.0,75.0,6.0,6.0,4.0,5.0,15.0,11.0,18.0,28.0,44.0,90.0,BLR
Belgium,25.0,37.0,52.0,53.0,142.0,20.0,1.0,1.0,3.0,5.0,45.0,38.0,53.0,56.0,147.0,BEL
Brazil,21.0,23.0,30.0,55.0,108.0,7.0,0.0,0.0,0.0,0.0,28.0,23.0,30.0,55.0,108.0,BRA
Bulgaria,19.0,51.0,85.0,78.0,214.0,19.0,1.0,2.0,3.0,6.0,38.0,52.0,87.0,81.0,220.0,BUL
Burundi,5.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0,BDI
Cameroon,13.0,3.0,1.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,14.0,3.0,1.0,1.0,5.0,CMR
Canada,25.0,59.0,99.0,121.0,279.0,22.0,62.0,56.0,52.0,170.0,47.0,121.0,155.0,173.0,449.0,CAN
Chile,22.0,2.0,7.0,4.0,13.0,16.0,0.0,0.0,0.0,0.0,38.0,2.0,7.0,4.0,13.0,CHI
China,9.0,201.0,146.0,126.0,473.0,10.0,12.0,22.0,19.0,53.0,19.0,213.0,168.0,145.0,526.0,CHN
Colombia,18.0,2.0,6.0,11.0,19.0,1.0,0.0,0.0,0.0,0.0,19.0,2.0,6.0,11.0,19.0,COL
Costa Rica,14.0,1.0,1.0,2.0,4.0,6.0,0.0,0.0,0.0,0.0,20.0,1.0,1.0,2.0,4.0,CRC
Croatia,6.0,6.0,7.0,10.0,23.0,7.0,4.0,6.0,1.0,11.0,13.0,10.0,13.0,11.0,34.0,CRO
Cuba,19.0,72.0,67.0,70.0,209.0,0.0,0.0,0.0,0.0,0.0,19.0,72.0,67.0,70.0,209.0,CUB
Czech Republic,5.0,14.0,15.0,15.0,44.0,6.0,7.0,9.0,8.0,24.0,11.0,21.0,24.0,23.0,68.0,CZE
Czechoslovakia,16.0,49.0,49.0,45.0,143.0,16.0,2.0,8.0,15.0,25.0,32.0,51.0,57.0,60.0,168.0,TCH
Denmark,26.0,43.0,68.0,68.0,179.0,13.0,0.0,1.0,0.0,1.0,39.0,43.0,69.0,68.0,180.0,DEN
Dominican Republic,13.0,3.0,2.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,2.0,1.0,6.0,DOM
Ecuador,13.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,13.0,1.0,1.0,0.0,2.0,ECU
Egypt,21.0,7.0,9.0,10.0,26.0,1.0,0.0,0.0,0.0,0.0,22.0,7.0,9.0,10.0,26.0,EGY
Estonia,11.0,9.0,9.0,15.0,33.0,9.0,4.0,2.0,1.0,7.0,20.0,13.0,11.0,16.0,40.0,EST
Ethiopia,12.0,21.0,7.0,17.0,45.0,2.0,0.0,0.0,0.0,0.0,14.0,21.0,7.0,17.0,45.0,ETH
Finland,24.0,101.0,84.0,117.0,302.0,22.0,42.0,62.0,57.0,161.0,46.0,143.0,146.0,174.0,463.0,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Romania,20.0,88.0,94.0,119.0,301.0,20.0,0.0,0.0,1.0,1.0,40.0,88.0,94.0,120.0,302.0,ROU
Russia,5.0,132.0,121.0,142.0,395.0,6.0,49.0,40.0,35.0,124.0,11.0,181.0,161.0,177.0,519.0,RUS
Russian Empire,3.0,1.0,4.0,3.0,8.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,4.0,3.0,8.0,RU1
Soviet Union,9.0,395.0,319.0,296.0,1010.0,9.0,78.0,57.0,59.0,194.0,18.0,473.0,376.0,355.0,1204.0,URS
Unified Team,1.0,45.0,38.0,29.0,112.0,1.0,9.0,6.0,8.0,23.0,2.0,54.0,44.0,37.0,135.0,EUN
Serbia,3.0,1.0,2.0,4.0,7.0,2.0,0.0,0.0,0.0,0.0,5.0,1.0,2.0,4.0,7.0,SRB
Serbia and Montenegro,3.0,2.0,4.0,3.0,9.0,3.0,0.0,0.0,0.0,0.0,6.0,2.0,4.0,3.0,9.0,SCG
Slovakia,5.0,7.0,9.0,8.0,24.0,6.0,2.0,2.0,1.0,5.0,11.0,9.0,11.0,9.0,29.0,SVK
Slovenia,6.0,4.0,6.0,9.0,19.0,7.0,2.0,4.0,9.0,15.0,13.0,6.0,10.0,18.0,34.0,SLO
South Africa,18.0,23.0,26.0,27.0,76.0,6.0,0.0,0.0,0.0,0.0,24.0,23.0,26.0,27.0,76.0,RSA
Spain,22.0,37.0,59.0,35.0,131.0,19.0,1.0,0.0,1.0,2.0,41.0,38.0,59.0,36.0,133.0,ESP
Suriname,11.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,2.0,SUR
Sweden,26.0,143.0,164.0,176.0,483.0,22.0,50.0,40.0,54.0,144.0,48.0,193.0,204.0,230.0,627.0,SWE
Switzerland,27.0,47.0,73.0,65.0,185.0,22.0,50.0,40.0,48.0,138.0,49.0,97.0,113.0,113.0,323.0,SUI
Syria,12.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,0.0,12.0,1.0,1.0,1.0,3.0,SYR
Chinese Taipei,13.0,2.0,7.0,12.0,21.0,11.0,0.0,0.0,0.0,0.0,24.0,2.0,7.0,12.0,21.0,TPE
Thailand,15.0,7.0,6.0,11.0,24.0,3.0,0.0,0.0,0.0,0.0,18.0,7.0,6.0,11.0,24.0,THA
Trinidad and Tobago,16.0,2.0,5.0,11.0,18.0,3.0,0.0,0.0,0.0,0.0,19.0,2.0,5.0,11.0,18.0,TRI
Tunisia,13.0,3.0,3.0,4.0,10.0,0.0,0.0,0.0,0.0,0.0,13.0,3.0,3.0,4.0,10.0,TUN
Turkey,21.0,39.0,25.0,24.0,88.0,16.0,0.0,0.0,0.0,0.0,37.0,39.0,25.0,24.0,88.0,TUR
Uganda,14.0,2.0,3.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,14.0,2.0,3.0,2.0,7.0,UGA
Ukraine,5.0,33.0,27.0,55.0,115.0,6.0,2.0,1.0,4.0,7.0,11.0,35.0,28.0,59.0,122.0,UKR
United Arab Emirates,8.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0,UAE
United States,26.0,976.0,757.0,666.0,2399.0,22.0,96.0,102.0,84.0,282.0,48.0,1072.0,859.0,750.0,2681.0,USA
Uruguay,20.0,2.0,2.0,6.0,10.0,1.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,6.0,10.0,URU
Uzbekistan,5.0,5.0,5.0,10.0,20.0,6.0,1.0,0.0,0.0,1.0,11.0,6.0,5.0,10.0,21.0,UZB
Venezuela,17.0,2.0,2.0,8.0,12.0,4.0,0.0,0.0,0.0,0.0,21.0,2.0,2.0,8.0,12.0,VEN
Yugoslavia,16.0,26.0,29.0,28.0,83.0,14.0,0.0,3.0,1.0,4.0,30.0,26.0,32.0,29.0,87.0,YUG
Zimbabwe,12.0,3.0,4.0,1.0,8.0,1.0,0.0,0.0,0.0,0.0,13.0,3.0,4.0,1.0,8.0,ZIM
Mixed team,3.0,8.0,5.0,4.0,17.0,0.0,0.0,0.0,0.0,0.0,3.0,8.0,5.0,4.0,17.0,ZZX

In [69]:
only_gold = df[df['Gold'] > 0]

In [70]:
only_gold.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS

In [71]:
df[(df['Gold'] > 0) | (df['Gold.1'] > 0)]

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
Australia,25,139,152,177,468,18,5,3,4,12,43,144,155,181,480,AUS
Austria,26,18,33,35,86,22,59,78,81,218,48,77,111,116,304,AUT
Azerbaijan,5,6,5,15,26,5,0,0,0,0,10,6,5,15,26,AZE
Bahamas,15,5,2,5,12,0,0,0,0,0,15,5,2,5,12,BAH
Belarus,5,12,24,39,75,6,6,4,5,15,11,18,28,44,90,BLR
Belgium,25,37,52,53,142,20,1,1,3,5,45,38,53,56,147,BEL
Brazil,21,23,30,55,108,7,0,0,0,0,28,23,30,55,108,BRA
Bulgaria,19,51,85,78,214,19,1,2,3,6,38,52,87,81,220,BUL
Burundi,5,1,0,0,1,0,0,0,0,0,5,1,0,0,1,BDI
Cameroon,13,3,1,1,5,1,0,0,0,0,14,3,1,1,5,CMR
Canada,25,59,99,121,279,22,62,56,52,170,47,121,155,173,449,CAN
Chile,22,2,7,4,13,16,0,0,0,0,38,2,7,4,13,CHI
China,9,201,146,126,473,10,12,22,19,53,19,213,168,145,526,CHN
Colombia,18,2,6,11,19,1,0,0,0,0,19,2,6,11,19,COL
Costa Rica,14,1,1,2,4,6,0,0,0,0,20,1,1,2,4,CRC
Croatia,6,6,7,10,23,7,4,6,1,11,13,10,13,11,34,CRO
Cuba,19,72,67,70,209,0,0,0,0,0,19,72,67,70,209,CUB
Czech Republic,5,14,15,15,44,6,7,9,8,24,11,21,24,23,68,CZE
Czechoslovakia,16,49,49,45,143,16,2,8,15,25,32,51,57,60,168,TCH
Denmark,26,43,68,68,179,13,0,1,0,1,39,43,69,68,180,DEN
Dominican Republic,13,3,2,1,6,0,0,0,0,0,13,3,2,1,6,DOM
Ecuador,13,1,1,0,2,0,0,0,0,0,13,1,1,0,2,ECU
Egypt,21,7,9,10,26,1,0,0,0,0,22,7,9,10,26,EGY
Estonia,11,9,9,15,33,9,4,2,1,7,20,13,11,16,40,EST
Ethiopia,12,21,7,17,45,2,0,0,0,0,14,21,7,17,45,ETH
Finland,24,101,84,117,302,22,42,62,57,161,46,143,146,174,463,FIN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Romania,20,88,94,119,301,20,0,0,1,1,40,88,94,120,302,ROU
Russia,5,132,121,142,395,6,49,40,35,124,11,181,161,177,519,RUS
Russian Empire,3,1,4,3,8,0,0,0,0,0,3,1,4,3,8,RU1
Soviet Union,9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204,URS
Unified Team,1,45,38,29,112,1,9,6,8,23,2,54,44,37,135,EUN
Serbia,3,1,2,4,7,2,0,0,0,0,5,1,2,4,7,SRB
Serbia and Montenegro,3,2,4,3,9,3,0,0,0,0,6,2,4,3,9,SCG
Slovakia,5,7,9,8,24,6,2,2,1,5,11,9,11,9,29,SVK
Slovenia,6,4,6,9,19,7,2,4,9,15,13,6,10,18,34,SLO
South Africa,18,23,26,27,76,6,0,0,0,0,24,23,26,27,76,RSA
Spain,22,37,59,35,131,19,1,0,1,2,41,38,59,36,133,ESP
Suriname,11,1,0,1,2,0,0,0,0,0,11,1,0,1,2,SUR
Sweden,26,143,164,176,483,22,50,40,54,144,48,193,204,230,627,SWE
Switzerland,27,47,73,65,185,22,50,40,48,138,49,97,113,113,323,SUI
Syria,12,1,1,1,3,0,0,0,0,0,12,1,1,1,3,SYR
Chinese Taipei,13,2,7,12,21,11,0,0,0,0,24,2,7,12,21,TPE
Thailand,15,7,6,11,24,3,0,0,0,0,18,7,6,11,24,THA
Trinidad and Tobago,16,2,5,11,18,3,0,0,0,0,19,2,5,11,18,TRI
Tunisia,13,3,3,4,10,0,0,0,0,0,13,3,3,4,10,TUN
Turkey,21,39,25,24,88,16,0,0,0,0,37,39,25,24,88,TUR
Uganda,14,2,3,2,7,0,0,0,0,0,14,2,3,2,7,UGA
Ukraine,5,33,27,55,115,6,2,1,4,7,11,35,28,59,122,UKR
United Arab Emirates,8,1,0,0,1,0,0,0,0,0,8,1,0,0,1,UAE
United States,26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681,USA
Uruguay,20,2,2,6,10,1,0,0,0,0,21,2,2,6,10,URU
Uzbekistan,5,5,5,10,20,6,1,0,0,1,11,6,5,10,21,UZB
Venezuela,17,2,2,8,12,4,0,0,0,0,21,2,2,8,12,VEN
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

In [72]:
df['Gold'].min()

0

In [73]:
max_gold = df.loc[df['Gold'].idxmax()]

In [74]:
df['Gold'].idxmin()

'Afghanistan'